# These files are text and should be normalized
*.txt     text
*.c       text
*.h       text
measurements/data/retransmission_timeout/*.out filter=lfs diff=lfs merge=lfs -text
measurements/data/retransmission_timeout/*.pcapng filter=lfs diff=lfs merge=lfs -text
